<html>
    <head>
            <meta charset="UTF-8">
            <title>Document</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

   <body>
        <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                 <ul class="nav navbar-nav">
                  <li class="navbar-brand"><a href="{% url 'index' %}">Home</a></li>   
                  <li class="navbar-link"><a href="{% url 'classbase:SchoolView'  %}">Schools</a></li>   
                  <li class="navbar-link"><a href="{% url 'classbase:create'  %}">Create</a></li>   
                  <li class="navbar-link"><a href="{% url 'admin:index'  %}">Admin</a></li>   
                  
              </ul>   
              </div>  
              </nav>
              <div class="container">
                    {% block body_block %}
               
                    {% endblock %}
                   </div>
               
                            
 </body> 
</html>